@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rasa&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

 body {
  font-family: 'Rasa', serif;
  font-size: 20px;
  font-weight: lighter;
  margin: 0px;
  background-color: #faedfa;
  color: #4b2e59;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
  font-style: italic;
}

h3 {
  font-size: 20px;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #4b2e59;
  font-weight: bold;
}